<div class="form-group">
  <label>Name:</label>
  <input #newName>
  <label>Age:</label>
  <input #newAge>
  <label>Gender:</label>
  <input #newGender>
</div>

<button (click)="submitForm(newName.value, newAge.value, newGender.value); newName.value=''; newAge.value=''; newGender.value='';">Add User</button>
<div *ngIf="user">
  <h1>Welcome {{user.name}} - Total Points: {{user.points}}</h1>
  <p>
    It’s the year 3000 and a time traveling machine has been invented. You work for the United States CIA and have been selected to complete a special mission. You must stop Abraham Lincoln from being assassinated by John Wilkes Booth.
  </p>
  <br>

  <div *ngFor="let scenario of scenarios">
    <div class="well">
      <h6 (click)="goToDetailPage(scenario)"><em>{{scenario.description}}</em></h6>
    </div>
  </div>

</div>
